* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
    color:var(--color-white);
    font-family: 'OpenSans';
    font-weight: 700;

}
@font-face {
    font-family: 'OpenSans';
    src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
body{
    background-color:var(--color-2side);
    
}

:root {

/* добавить --color-bg и так далее */
    --color-5side: rgb(27, 27, 49);
    --color-4side: rgb(21, 21, 39);
    --color-3side: rgb(197, 197, 197);
    --color-2side: rgb(42, 42, 80);
    --color-1side: rgb(28, 28, 53);
    --color-main: rgb(83, 0, 190);
    --color-main-second: rgb(49, 0, 114);
    --color-main-shadow: rgba(157, 82, 255, 0.568);
    --color-white:rgb(255, 255, 255);
    --color-black:rgb(0, 0, 0);
    --color-error: rgb(255, 92, 92);
    --color-select-error: rgb(255, 147, 147);
    --color-debuff:rgb(65,34,39);
    --color-buff: rgb(39, 23, 107);
}

h1 {
    text-align: center;
    text-shadow:  1px 1px 10px var(--color-white);
}
p {
    font-size: 14px;
    
}
span {
    
}
button {
    font-size: 18px;
}
input{
    border:none;
    padding: 6px 0 6px 0;
    border-radius: 6px;
    background: var(--color-2side);
    color: var(--color-white);
    text-align: center;
    
    font-size: 14px;
}
a{
    color: var(--color-main);
}
a:hover{
    color: var(--color-main-second);
}




.ant-menu-light.ant-menu-root.ant-menu-inline{
    border:0;
}
.ant-layout-sider{
    z-index: 100;
}
.ant-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
    width: 15rem;
    position: fixed;

    background: linear-gradient(45deg, var(--color-1side), var(--color-2side), var(--color-1side));
}

.ant-menu-inline .ant-menu-item{
    padding: 0;
    padding-right: 24px;
    height: 3rem;
    border-radius: 32px;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
    background-color:var(--color-3side);
}
.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child span {
    color: var(--color-main);
    text-shadow: 1px 1px 5px var(--color-main-shadow)
}

.ant-menu-item:active{
    background-color:var(--color-black);
}
.ant-layout-content{
    background-color:var(--color-1side);
}
.ant-layout-header{
    background: linear-gradient(90deg, var(--color-1side), var(--color-2side), var(--color-1side));
}
.ant-select-selector{
    background-color:var(--color-2side);
}
.ant-layout-sider{
    background:var(--color-1side);
}


.ant-menu-title-content{
    display: flex;
    justify-content: center;
    text-shadow:  1px 1px 10px var(--color-white);
}
@media (max-width: 425px) {
    .ant-layout.ant-layout-has-sider >.ant-layout{
        min-width: 1500px;
    }
    .ant-layout.ant-layout-has-sider >.ant-layout-content{
        min-width: 1500px;
    }
}









.ant-tabs-nav-list {
    
    justify-content: center;
    max-height: 100vh;
    min-height: 100vh;
    min-width: 10rem;
}
.ant-tabs-nav {
    background-color:var(--color-2side);
}

.ant-tabs-tab {
    justify-content: center;
    border-radius: 16px;
    
}
.ant-tabs-tab:hover{
    background-color:var(--color-1side);
}

.ant-tabs-tab-btn {
    font-weight: 500;
}
.ant-tabs-tab:active .ant-tabs-tab-btn:active{
    color: var(--color-main-second);
}
.ant-tabs-tab:active .ant-tabs-tab-btn{
    color: var(--color-main-second);
}
.ant-tabs-tab:active {
    
    transform: scale(0.8);
    transition: all 0.3s;
}

.ant-tabs-ink-bar {
  display: none;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--color-main);
}
.ant-tabs-tab.ant-tabs-tab-active {
    background:none;
}
.ant-select-focused {
    color:var(--color-white);
}